@model MByte.Models.Login

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tbody>
            <tr>
                <td style="width: 140px;"> @Html.LabelFor(m => m.Email) </td>
                <td> @Html.TextBoxFor(m => m.Email) </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-default" type="submit" value="Gönder"></td>
            </tr>
        </tbody>
    </table>
}